.search-movie {
  display: flex;
}

.search-input {
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  padding-left: 1rem;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
}

input:focus {
  outline: none;
}

input {
  width: 100%;
  color: rgb(255,255,255);
  font-size: 2rem;
  
}

.search-btn {
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.search-png {
  width: 3rem;
  height: 2rem;
  transition: 0.2s;
  cursor: pointer;
  padding-left: 1rem;
}

@media screen and (max-width: 300px){
  .search-movie input[type="text"] {
    width: 180px !important;
  }
}